body {
  background-color: #F0F2F5;
}

.loginbox {
  position: absolute;
  top: 90px; 
  left: 830px;
  width: 390px;
  height: 348px;
  background-color: white; 
  border-radius: 7px;
}

.username {
  position: absolute;
  top: 110px; 
  left: 842px;
  width: 364px;
  height: 48px;
  border: 0.5px solid grey; 
  background-color: transparent; 
  background-color: white; 
  border-radius: 7px;
}

.username_text {
  font-family: "arial";
  font-size: 18px;
  opacity: .3;
  position: absolute;
  top: 125px; 
  left: 865px;
}

.password {
  position: absolute;
  top: 174px; 
  left: 842px;
  width: 364px;
  height: 48px;
  border: 0.5px solid grey; 
  background-color: transparent; 
  border-radius: 7px;
}

.password_text {
  font-family: "arial";
  font-size: 18px;
  opacity: .3;
  position: absolute;
  top: 189px; 
  left: 865px;
}

.bluebutton {
  position: absolute;
  top: 240px; 
  left: 842px;
  width: 364px;
  height: 48px;
  border: 0.5px solid grey; 
  background-color: #3975EA; 
  border-radius: 7px;
}

.bluebutton:hover::after {
  position: absolute;
  background-color: hsl(220, 81%, 57%); 
  content: 'Share all your personal information';
  font-family: "arial";
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 5px;
  top: 8px;
  left: 9px;
}

.logintext{
  position: absolute;
  font-family: "arial";
  font-size: 20px;
  font-weight: bold;
  color: white;
  top: 254px;
  left: 993px;
}

.forgot {
  position: absolute;
  top: 305px; 
  left: 960px;
  font-family: "arial";
  color: #3975EA; 
  font-size: 15px;
}

.background-example {
  background-image: src="facebook.png";
  width: 300px;
  height: 200px;
}
